@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
$font-color:#484f5b;

// font-family: 'Open Sans', sans-serif;

// comon css start
*{
    margin: 0;
    padding: 0;
}

body{
    color: $font-color;
    font-size: 16px;
    font-family:  'Open Sans', sans-serif;
}


.content {
    h1 {
        font-size: 65px;
        font-weight: 700;
    }
    p {
        line-height: 30px;
        font-size: 20px;
        font-weight: 400;
    }
}

.container{
    max-width: 1250px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.align-item-center{
    align-items:center ;
}

.col-2{
    flex: 0 0 16.33%;
    max-width: 16.33%;

}
.col-3{
    flex: 0 0 25%;
    max-width: 25%;

}

.col-4 {
    flex: 0 0 33.33%;
    min-width: 33.33%;
}

.col-6{
    flex: 0 0 50%;
    min-width: 50%;
}

.col-9{
  flex: 0 0 75%;
  max-width: 75%;

}
.btn {
    text-decoration: none;
    height: 50px;
    width: 204px;
    color: #484f5b;
    background-color: #e6c8c3;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    // display: inline-block;
    // text-align: center;
    // line-height: 50px;
}
// comon  css start

// header section start

.main-header{
    height: 120px;
    line-height: 120px;
}

.logo{
    padding-top: 20px;
    img{
        max-width: 220px;
    }
}

.main-menu{
    ul{
        display: flex;
        column-gap: 75px;
        justify-content: end;
        li{
            list-style: none;
            a {
                text-decoration: none;
                color: $font-color;
                font-size: 18px;
                font-weight: 500px;
            }
        }
    }
}

// header section start

// banner section start

.banner-area{
    background-image: url('../images/header-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .banner-img{
        img{
            position: relative;
            left: 45px;
          }
    }
    .banner-content-wrap{
        padding-left: 50px;
        .banner-content{
        
            h1{
                padding-bottom: 50px;
            }
            p{
                padding-bottom: 50px;
         
            }
        }
    }
}

// pregnent section start

.pregnent-area{
    background-image: url('../images/pregnent-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .pregnent-content{
        padding: 184px 0 174px;
        h1{
             padding-bottom: 82px;
         }
         p{
             padding-bottom: 87px;
       }
   }
}

// pregnent section start

// program section start

.box-item {
    text-align: center;
    padding: 80px 0 110px;
}

.box-img-1 {
    padding: 45px 0 20px;
}

.box-img-2 {
    padding-top: 25px;
}

.box-content {
    padding-top: 50px;
}

// program section end

// join-us section start
.join-us-area {
    background-image: url('../images/join-us.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // position: relative;
    .join-us-content {
        padding: 184px 0 174px;
        // float: right;
        // position: relative;
        // position: fixed;
        h1 {
            padding-bottom: 82px;
        }
        p {
            padding-bottom: 87px;
        }
    }
}

// join-us section end

// yoga breathing section start

.yoga-breathing-area {
    background-image: url('../images/yoga-breathing-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.yoga-content {
    padding: 127px 0 164px;
    h1 {
        padding-bottom: 65px;
    }
    p {
        padding-bottom: 87px;
    }
}

.yoga-img {
    padding: 80px 0 170px;
}

// yoga breathing section end

// gallery section start
.gallery-area {
    background-image: url('../images/gallery-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery {
    text-align: center;
    padding: 80px 0 60px;
    p {
        padding-top: 50px;
    }
}

.gallery-content {
    text-align: center;
    padding: 40px 0 40px;
    p {
        padding-top: 35px;
    }
}

// gallery section end

// yoga training section start

.yoga-training-video-area {
    background-color: #e5ccc6;
}
.yoga-training-video-img {
    padding: 150px 0 160px;
    position: relative;
    left: 32px;
}
.yoga-training-video-content{
    padding: 180px 65px 200px;
    p{
        padding-top: 50px;
    }
}

// yoga training section end

// get in  section start
.get-in-area {
    background-image: url('../images/get-in.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.get-in{
    text-align: center;
    padding: 80px 0 60px;
    p {
        padding-top: 50px;
    }
}
// get in  section end

//form section start
.form-area{
    padding: 100px 0;
}
.form-field{
    margin-bottom: 30px;
    margin-right: 60px;
    label{
        font-size: 15px;
        font-weight: 600;
        display: block;
        margin-bottom: 15px;
        text-align: left;
    }
    input{
        line-height: 40px;
        padding: 0 20px;
        outline: none;
        width: 100%;
        border: 2px solid #1157ce;
        &:focus{
            border-color: #b50000;
        }
    }
    textarea{
        outline: none;
        width: 100%;
        padding: 10px;
        border: 2px solid #01225c;
        &:focus{
            border-color: #9c0012;
        }
    }
    &.textarea{
        text-align: center;
    }
    button[type="submit"]{
        border: none;
        outline: none;
        width: 180px;
        line-height: 50px;
        background-color: #1157ce;
        border-radius: 5px;
        color: #fff;
        margin-top: 20px;
        cursor: pointer;
        display: inline;
        // text-align: center;
        &:hover{
            background-color: #17008c;
        }
    }
}

// form section end

// footer section start
.footer-area{
    padding: 70px 0;
    background-color: #484f5b;
    color: #fff;
    .container{
        max-width: 1120px;
    }
    .footer-widget{
        h3 {
            padding-bottom: 45px;
        }
        p {
            padding-bottom: 45px;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
        h4{
            margin-bottom: 30px;
        }
        
        &.footer-links{
            ul{
                li{
                    list-style: none;
                    a{
                        color: #fff;
                        display: block;
                        text-decoration: none;
                        margin-bottom: 15px;
                    }
                }
            }
        }
        &.about-social{
            ul{
                margin-top: 15px;
                display: flex;
                column-gap: 15px;
                li{
                    list-style: none;
                    background-color: #fff;
                    line-height: 30px;
                    width: 30px;
                    text-align: center;
                    a{
                        display: block;
                        color: #484f5b;
                    }
                }
            }
        }
    }
}
// footer section end